html {
  background-color: #EBF0EA !important;
  color: inherit;
}

.thumb-img {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .15) !important;
  border-color: #FFFFFF !important;
  border-width: 0.00 !important;
}

#loupeContainer div.background {
  background-color: #EBF0EA !important;
  color: inherit;
}

header div.background {
  background-color: #EBF0EA !important;
  color: inherit;
}

.custom-colorable {
  fill: #FFFFFF !important;
}

body {
  background-color: #EBF0EA !important;
  color: #676767 !important;
}
